extends ../layout
block content
    include ../components/navbar
    .container
        .row
            .col-md-3
                if info
                    if info.errors
                        div.alert.alert-info Error sigining in. Please try again or Sign up.
                            each prob, index in info.errors
                                .row.pt-1
                                    .alert.alert-danger
                                        label= prob
            .col-md-6
                .cardcard-register.mx-auto.mt-5
                    .card-body
                        h1.mb-4.text-center Signin or Signup
                        form#authForm(action='/auth/sign-in', method='post')
                            .form-group
                                label User Name
                                input.form-control(type='text', placeholder='User Name', name='username',
                                value= undefined === info.username ? 'test_user' : info.username)
                            .form-group
                                label Email address
                                input.form-control(type='text', placeholder='Enter email', name='email',
                                value= undefined === info.email ? 'test_email@gamil.com' : info.email)
                            .form-group
                                label Password
                                input.form-control(type='password', placeholder='Password', name='password',
                                value='test_pass')
                            .form-group
                                .row
                                    button.btn.btn-secondary.col.m-2(type='submit', OnClick='SetSignIn()') Login
                                    button.btn.btn-secondary.col.m-2(type='submit', OnClick='SetSignUp()') Sign Up
                        .container.align-self-center.align-items-center
                            a(href="/auth/google" class="btn btn-danger")
                                span.fa.fa-google-plus
                                | Sign In With Google

                        script.
                            function SetSignUp() {
                                $("#authForm").attr("action", '/auth/sign-up');
                            };
                            function SetSignIn() {
                                $("#authForm").attr("action", '/auth/sign-in');
                                console.log("SIgning in");
                            };
