nav.navbar.fixed-top.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    a.navbar-brand(href='/')
        //img(src="../images/monogram.png").img-logo-sm
        | #{title}
    #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
            a.nav-item.nav-link.active(href='/')
                | Home
                span.sr-only (current)
            if isAuthenticated
                a.nav-item.nav-link(href='/auth/sign-out') Sign Out
            else
                a.nav-item.nav-link(href='/auth/sign-in') Sign In
            a.nav-item.nav-link.disabled(href='#') Temp2
