extends layout
block content
    include components/navbar
    .jumbotron
        h1 About My Site
            p The purpose of this website is to serve as a living resume of my technical skills.
            p
            a.btn.btn-primary.btn-lg(href='/') Home
